@import url('https://fonts.googleapis.com/css?family=Spartan:300,400,500,700,900&display=swap');

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
}

html.dark {
    background: #333333;
    color: #ffffff;
}

html *:not(a:link) {
    pointer-events: none;
}

a:-webkit-any-link, a:link {
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Spartan';

    display: flex;
    align-items: center;
    height: 100%;
}

.page--title span {
    display: inline-block;
}

.page--title {
    pointer-events: none;
    font-size: 84px;
    letter-spacing: -8px;
    font-weight: 700;
    margin: 30px;
    line-height: 77px;
}

.page--head {
    pointer-events: none;
}

p {
    margin-left: 40px;
    margin-right: 10px;
}

.thicc {
    font-weight: 700;
} 

.dark #circle {
    background: rgba(218, 218, 218, 0.4);
}

#circle {
    position: absolute;
    background: rgba(88, 88, 88, 0.4);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    animation-duration: 1s;
    opacity: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

@media only screen and (min-width: 1024px) {
    .page--head {
        margin-left: 100px;
    }

    .page--title {
        margin: 0;
    }
}

@keyframes ripple {
    0%   {
        transform:scale(0);
        opacity: 1;
    }
    100% {
        transform:scale(5);
        opacity: 0;
    }
  }
