html {
  font-size: 16px;
}
body {
  background: #333;
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: monospace;
}
.mindu {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
}
.hint {
  color: #585858;
}
